In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("adult_with_headers.csv")
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
## summary statistics
data.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [6]:
## checking missing values
data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [9]:
## checking duplicated values 
data[data.duplicated()]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  object
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  object
 4   education_num   32537 non-null  int64
 5   marital_status  32537 non-null  object
 6   occupation      32537 non-null  object
 7   relationship    32537 non-null  object
 8   race            32537 non-null  object
 9   sex             32537 non-null  object
 10  capital_gain    32537 non-null  int64
 11  capital_loss    32537 non-null  int64
 12  hours_per_week  32537 non-null  int64
 13  native_country  32537 non-null  object
 14  income          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 4.0+ MB

## OneHotEncoder

In [13]:
## One Hot Encoder
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
data_ohe = ohe.fit_transform(data)

In [14]:
data_ohe

<32537x22146 sparse matrix of type '<class 'numpy.float64'>'
	with 488055 stored elements in Compressed Sparse Row format>

In [17]:
new_data = pd.DataFrame(data_ohe.toarray())
new_data

,0,1,2,3,4,5,6,7,8,9,...,22136,22137,22138,22139,22140,22141,22142,22143,22144,22145
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32532,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
32533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
32534,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
32535,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
32536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [18]:
## another method for onehot encoding 
enc = pd.get_dummies(data)
enc

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32557,40,154374,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
32558,58,151910,9,0,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32559,22,201490,9,0,0,20,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
32560,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

## LabelEncoder

In [19]:
from sklearn.preprocessing import LabelEncoder

In [22]:
lab_enc = LabelEncoder()

In [25]:
data['income'] = lab_enc.fit_transform(data['income'])
data['income']

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: income, Length: 32537, dtype: int32

 LabelEncoder assigns a numerical label to each category, while OneHotEncoder creates a binary vector representation of the categorical data, where each column represents a unique category.
 and the main difference is, in labelencoder rank is important and in onehot encoder rank is not important.

## Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()
scaler.fit_transform(enc)

array([[ 0.03038995, -1.06356884,  1.13477712, ..., -0.02218084,
         0.56337742, -0.56337742],
       [ 0.8369732 , -1.00866848,  1.13477712, ..., -0.02218084,
         0.56337742, -0.56337742],
       [-0.0429358 ,  0.24503992, -0.42067868, ..., -0.02218084,
         0.56337742, -0.56337742],
       ...,
       [ 1.42357919, -0.35877886, -0.42067868, ..., -0.02218084,
         0.56337742, -0.56337742],
       [-1.2161478 ,  0.11092955, -0.42067868, ..., -0.02218084,
         0.56337742, -0.56337742],
       [ 0.9836247 ,  0.92981187, -0.42067868, ..., -0.02218084,
        -1.77500901,  1.77500901]])

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
min_max = MinMaxScaler()

In [30]:
min_max.fit_transform(enc)

array([[0.30136986, 0.0443019 , 0.8       , ..., 0.        , 1.        ,
        0.        ],
       [0.45205479, 0.0482376 , 0.8       , ..., 0.        , 1.        ,
        0.        ],
       [0.28767123, 0.13811345, 0.53333333, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.56164384, 0.09482688, 0.53333333, ..., 0.        , 1.        ,
        0.        ],
       [0.06849315, 0.12849934, 0.53333333, ..., 0.        , 1.        ,
        0.        ],
       [0.47945205, 0.18720338, 0.53333333, ..., 0.        , 0.        ,
        1.        ]])

MinMaxScaler scales the data to a fixed range, typically between 0 and 1. On the other hand, StandardScaler rescales the data to have a mean of 0 and a standard deviation of 1.

## Isolation Forest

In [31]:
from sklearn.ensemble import IsolationForest

In [32]:
clf = IsolationForest(random_state=12)

In [33]:
clf.fit(enc)

IsolationForest(random_state=12)

In [34]:
outlier = clf.predict(enc)
outlier

array([1, 1, 1, ..., 1, 1, 1])

In [35]:
enc['Score'] = clf.decision_function(enc)

In [40]:
enc['Anomoly'] = clf.predict(enc.iloc[:,:-1])

In [41]:
enc

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K,Score,Anomoly
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,1,0,0,1,0,0.090571,1
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,1,0,0,1,0,0.108373,1
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,1,0,0,1,0,0.131307,1
3,53,234721,7,0,0,40,0,0,0,0,...,0,0,0,1,0,0,1,0,0.095628,1
4,28,338409,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,1,0,0.052944,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,0,...,0,0,0,1,0,0,1,0,0.083446,1
32557,40,154374,9,0,0,40,0,0,0,0,...,0,0,0,1,0,0,0,1,0.141846,1
32558,58,151910,9,0,0,40,0,0,0,0,...,0,0,0,1,0,0,1,0,0.102133,1
32559,22,201490,9,0,0,20,0,0,0,0,...,0,0,0,1,0,0,1,0,0.124077,1
32560,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,1,0,0,0,1,0.049338,1

In [43]:
## outlier detection
enc[enc['Anomoly']==-1]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K,Score,Anomoly
1826,22,202920,9,99999,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.013099,-1
2330,53,173093,10,0,1887,40,0,1,0,0,...,0,0,0,0,0,0,0,1,-0.008239,-1
4656,37,287306,12,99999,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,-0.014339,-1
6131,22,291547,3,0,0,40,1,0,0,0,...,0,0,0,0,0,0,1,0,-0.000089,-1
6524,49,362795,14,99999,0,80,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.003371,-1
6590,77,72931,4,0,0,20,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.016133,-1
12093,24,151153,10,99999,0,50,1,0,0,0,...,0,0,0,0,0,0,0,1,-0.022948,-1
14401,37,352882,9,0,0,70,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.006926,-1
15037,46,275625,13,0,0,60,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.012425,-1
15902,45,207107,12,0,2080,40,0,1,0,0,...,0,0,0,0,0,0,1,0,-0.000241,-1
17538,38,37683,15,99999,0,57,0,1,0,0,...,0,0,0,0,0,0,0,1,-0.029578,-1
17611,28,104617,4,0,0,99,0,0,0,0,...,0,0,0,0,0,0,1,0,-0.007182,-1
17834,29,341672,9,0,1564,50,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.003402,-1
19027,41,19914,13,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,-0.000727,-1
20417,42,23510,14,0,2201,60,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.012788,-1
21862,45,190406,15,25236,0,36,0,0,0,0,...,0,0,0,1,0,0,0,1,-0.012496,-1
22225,35,98080,15,4787,0,45,1,0,0,0,...,0,0,0,0,0,0,0,1,-0.001621,-1
25359,38,94559,13,7688,0,50,1,0,0,0,...,0,0,0,0,0,0,0,1,-0.002204,-1
25565,34,20057,10,0,0,38,0,0,0,0,...,0,0,0,0,0,0,1,0,-0.012045,-1
25841,45,108100,13,99999,0,25,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.017983,-1
32370,53,137547,15,27828,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,-0.007169,-1

## PPS Score

In [46]:
!pip install ppscore

Requirement already satisfied: ppscore in c:\users\sanket-pc\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\sanket-pc\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\sanket-pc\anaconda3\lib\site-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sanket-pc\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sanket-pc\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sanket-pc\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sanket-pc\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sanket-pc\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sanket-pc\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\sanket-pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [48]:
import ppscore as pps

In [49]:
pps.score(data, 'workclass','income')

{'x': 'workclass',
 'y': 'income',
 'ppscore': 0,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 0.2474,
 'model_score': 0.3576363349832977,
 'model': DecisionTreeRegressor()}

In [50]:
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,age,age,1.000000e+00,predict_itself,True,None,0.000000,1.000000,None
1,age,workclass,2.090038e-02,classification,True,weighted F1,0.581447,0.590195,DecisionTreeClassifier()
2,age,fnlwgt,0.000000e+00,regression,True,mean absolute error,75736.243800,77225.235712,DecisionTreeRegressor()
3,age,education,6.124723e-02,classification,True,weighted F1,0.189800,0.239423,DecisionTreeClassifier()
4,age,education_num,0.000000e+00,regression,True,mean absolute error,1.865200,1.906863,DecisionTreeRegressor()
...,...,...,...,...,...,...,...,...,...
220,income,capital_gain,0.000000e+00,regression,True,mean absolute error,1165.066200,1839.292230,DecisionTreeRegressor()
221,income,capital_loss,0.000000e+00,regression,True,mean absolute error,80.707000,151.364703,DecisionTreeRegressor()
222,income,hours_per_week,0.000000e+00,regression,True,mean absolute error,7.451000,8.029614,DecisionTreeRegressor()
223,income,native_country,2.340301e-07,classification,True,weighted F1,0.850030,0.850030,DecisionTreeClassifier()
224,income,income,1.000000e+00,predict_itself,True,None,0.000000,1.000000,None